@charset "utf-8";
@import url(reset.css);

/**common**/
.clearfix:after {content:""; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.clearfix {display:block;}
.blind {position:absolute; left:-99999px; top:-9999999px; font-size:1px;}

header {width:100%; border-bottom:solid 1px #dcdcdc;}
.header_inner {position:relative;max-width:1080px; width:100%; height:80px; margin:0 auto;padding:20px 0;}
#logo {position:absolute;}
#logo a {display:block; width:164px; height:38px; background-size:cover; background-position:center; background-repeat:no-repeat;}
#gnb {float:right;}
#gnb ul {}
#gnb li {float:left;}
#gnb li a {display:block; font-size:15px; padding:10px; margin-right:18px; font-weight:500;}
#gnb li:last-child a {padding-right:0; margin-right:0;}

